@import url('https://fonts.googleapis.com/css?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC&display=swa');
body {
  font-family: "PT Sans", "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  color: #555;
  margin: 0;
  padding: 0;
}

main {
  padding: 4em 1em;
  margin: 0 auto;
  max-width: 50em;
  min-height: 15vw;
}

main section {
  display: block;
}

html {
  display: block;
}

header,
footer {
  background-color: #1B241E;
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.3)
  ),url("images/gruenePflanzen.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: none;
  margin: 0 auto;
  text-align: center;
}

header {
  background-position: center top;
  padding: 1vw 20vw;
}

footer {
  background-position: center center;
  padding: 30px 20vw;
}

footer a {
  color: white;
  margin: 1em;
}

header .logo {
  margin: 0 auto;
}

header .logo img, header h1 img {
  vertical-align: top;
  text-align: center;
  max-height: auto;
  height: auto;
  background-color: white;
  max-width: 100%;
  position: relative;
}

header h1 {
  display: inline-block;
}

header .logo img {
  width: 260px;
  border-radius: 50%;
  padding: 5px;
  z-index: 10;
}

header h1 img {
  margin-top: -1.3em;
  width: 280px;
  border-radius: 15px;
  padding: 25px;
}

nav ul > li {
  display: inline-block;
  zoom:1;
  width: 100px;
  text-align: center;
  margin: 0em 1em;
}

nav h1 img {
  height: 4em;
}

header .logo a:hover {
  background: none;
}

header .logo {
  margin: 0;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
  font-size: 2.5em;
  font-family: 'Amatic SC', cursive;
}

h1,
h2,
h3,
strong {
  color: #333;
}

a {
  color: #245900;
}
